<div id="specificmovie-banner">
    <h1>{Specific movie}</h1>
</div>
<div id="specificmovie-container">
    <div id="image-container"><img src="~/img/moonlight.jpg"></div>
    <div id="movie-information">
        <h1>{Title}</h1>
        <p>Length: {Runtime} | Rated: {ageRated} | Genre: {genre}</p>
        <br>
        <p id="plottext">{Apigenerated plot}</p>
        <br>
        <h1>Ratings</h1>
        <br>
        <p id="IMDbtext">IMDb: {IMDBScore}</p>
        <p id="cMDBtext">cMDB: {cMDBScore}</p>
        <p id="rottentomatoestext">RT: {rottentomatoesScore}</p>
    </div>
    <div id="movie-information2">
        <h1>Stars</h1>
        <p>{Lista över skådespelare}</p>
        <br>
        <h1>Director</h1>
        <p>{Regissören}</p>
        <br>
        <h1>Writers</h1>
        <p>{Manusförfattare}</p>
    </div>


</div>	