<!DOCTYPE html>
<html lang="sv">
<head>
    <title>Cineasternas riksförbund</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/styles-specificmovie.css" rel="stylesheet" />

    <meta charset="UTF-8" />
</head>
<body>
    <header id="mainheader">
        <h1>Lá Cineaste Familia</h1>
    </header>

    <div class="topnav-container">
        <div class="topnav">
            <a class="active" href="/home/index">Home</a>
            <a href="/home/browse">Browse</a>
            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    @RenderBody()
    <footer id="footer-container">
        <h2>Cineasterna 2021</h2>
    </footer>
</body>
</html>