#specificmovie-banner {
    text-align: left;
    color: #ffc300;
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#specificmovie-container {
    background-color: darkgray;
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    border-style: solid;
    padding: 20px;
    border-radius: 25px;
}

#movie-information {
    width: 50%;
    box-sizing: border-box;
}



#image-container {
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
}

#movie-information2 {
    padding-top: 20px;
    width: 100%;
    padding-bottom: 25px;
}

#plottext {
    font-size: 1.2em;
}

#IMDbtext, #cMDBtextdislikes, #cMDBtextlikes {
    font-size: medium;
}

#IMDBvalue, #cMDBvalueup, #cMDBvaluedown {
    font-weight: bolder;
    font-size: large;
}

#cMDBvalueup{
    color: darkgreen;
    }
#cMDBvaluedown{
    color: darkred;
}


#movie-title, #movie-ratings, #movie-stars, #movie-director, #movie-writers {
    color: #34568B;
}

#cMDBtextlikes, cMDBtextdislikes {
}


#upvoteButton {
    padding-top: 25px;
    background: #4cff00;
    border-radius: 999px;
    box-shadow: #b6ff00 0 10px 10px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}


#downvoteButton {
    padding-top: 25px;
    background: #ff0000;
    border-radius: 999px;
    box-shadow: #ff0000 0 10px 10px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}