@model List<GetMoviesOmdbDTO>

@{
    ViewData["Title"] = "Browse";
}

<div>
    @foreach (var item in Model)
    {
        <p>@item.Title</p>
    }
</div>

<div>
   @foreach (var item in Model)
   {
       <p>@item.Plot</p>
   }
</div>
