@model GetMoviesDto[]
@{
    ViewData["Title"] = "Home Page";
}

<div id="topmovie-banner">
    <h1>Top movie</h1>
</div>
<div id="topmovie">
    <img id="topmovie-image" src="~/img/thedoorman.jpg">
    <div id="topmovie-plot">
        <h2 id="topmovie-title-header-text">{Title here}</h2><br>
        <p>Plot: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printing and typesetting industry. Lorem Ipsum has been printing and typesetting industry. Lorem Ipsum has been | <span style="color:white">Read more...</span></p>
        <div>
        @foreach (var item in Model)
        {
           <p> @item.imdbID</p>        
        }
        </div>
        <br>

        <h2 id="topmovie-ratings-text">Ratings</h2>
        <p>IMDB: 5/5</p>
        <p>RT: 8/10</p>
        <p>cMDB: 3/5</p>
    </div>
</div>
